api.pastor.com {
  tls internal # TODO: remove this to connect domain

  reverse_proxy /socket.io* app:3000

  @api {
    not path /socket.io*
  }

  handle @api {
    # Allow up to 500MB upload
    request_body {
      max_size 500MB
    }

    reverse_proxy app:3000 {
      header_up X-Real-IP {remote}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
      header_up Host {host}
    }
  }
}

admin.pastor.com {
  tls internal # TODO: remove this to connect domain

  root * /var/www/html/dist
  try_files {path} /index.html
    
  file_server
    
  header {
    Cache-Control "public, max-age=31536000, immutable"
  }
    
  encode gzip
}